.system {
  background-color: black;
  justify-content: center;
  color: aliceblue;
  padding-top: 10px;
}
.system h1 {
  font-size: 35px;
}

button {
  font-size: 20px;
  padding: 5px;
  background-color: #555555;
  color: white;
  margin: 10px 5px;
}

.side_button {
  float: right;
  margin-right: 5px;
}

.planet h1 {
  text-align: center;
}

.planets {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  text-align: center;
}

.planet_image {
  width: 98%;
  height: 250px;
}

.prod_map {
  padding: 20px;
}
